<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<!-- import Vue before Element -->
<!--<script src="../resource/js/vue.js" type="text/javascript"></script>-->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>


<div id="app">
    <%--        <register_cpn ref="aaa"></register_cpn>--%>
<!--    <login_tab_cpn ref="bbb">-->
<!--        <register_cpn ref="aaa" slot="register" ></register_cpn>-->
<!--    </login_tab_cpn>-->
</div>
<!--<%&#45;&#45;登录注册部分，两个标签&#45;&#45;%>-->
<template id="log_tab" >
    <el-tabs v-model="activeName" @tab-click="handleClick" type="border-card" id="el_tabs_log">
        <el-tab-pane label="用户登录" name="first">
            <div style="width: 100%;height: 100%">
                这里是内容<slot name="login" >用户登录</slot>
                <img src="../resource/image/res2_4m.png">
            </div>
        </el-tab-pane>
        <el-tab-pane label="用户注册" name="second">
            <div style="width: 100%;height: 100%">
                <slot name="register">用户注册</slot>
            </div>
        </el-tab-pane>
    </el-tabs>
</template>
<!--<%&#45;&#45;    登录部分&#45;&#45;%>-->

<template id="register_cpn">
    <div id="register_div">
        <el-form :model="ruleForm" label-width="100px" status-icon  :rules="rules" ref="ruleForm"
                 style="margin-top: 50px;margin-right: 40px">
            <el-form-item label="用户名" prop="username">
                <el-input autocomplete="off" v-model="ruleForm.username"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input autocomplete="off" type="password" v-model="ruleForm.password"></el-input>
            </el-form-item>
            <el-form-item label="验证密码" prop="checkPass">
                <el-input autocomplete="off" type="password" v-model="ruleForm.checkPass"></el-input>
            </el-form-item>
            <el-form-item style="margin-left: 60px">
                <el-button type="primary" @click="submitForm('ruleForm')" >提交</el-button>
                <el-button @click="resetForm('ruleForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
    let register_cpn = Vue.extend({
        template:"#register_cpn",
        data(){
            /***
             * 验证函数
             */
            let validateUsername = (rule, value, callback) => {
                if (value === '') {
                    console.log("1.用户名");
                    callback(new Error('请输入用户名'));
                } else {
                    console.log("2.用户名");
                    if (this.ruleForm.username !== '') {
                        console.log("3.用户名");
                        // this.$refs.ruleForm.validateField('username');
                    }
                    callback();
                }
            };
            let validatePass = (rule, value, callback) => {
                if (value === '') {
                    console.log("1.密码");
                    callback(new Error('请输入密码'));
                } else {
                    console.log("2.密码");
                    if (this.ruleForm.checkPass !== '') {
                        console.log("3.密码");
                        this.$refs.ruleForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            let validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.password) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return{
                ruleForm:{
                    password:"",
                    checkPass:"",
                    username:"",
                },
                rules: {
                    password: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    checkPass: [
                        { validator: validatePass2, trigger: 'blur' }
                    ],
                    username:[
                        { validator: validateUsername, trigger:'blur'}
                    ]
                }
            }
        },
        methods: {
            //验证信息
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {

                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
                console.log("信息提交")
            },
            resetForm(formName) {
                this.$refs[formName].resetFields()
            },
        }
    })

    let log_tab_cpn = Vue.extend({
        template:"#log_tab",
        data(){
            return{
                activeName:"tabs"
            }
        },
        methods:{
            handleClick(tab, event) {
                console.log(tab, event);
            }
        }
    })


    let app = new Vue({
        el: '#app',
        data: function() {
            return { visible: false }
        },
        components:{
            register_cpn:register_cpn,
            login_tab_cpn:log_tab_cpn
        },
    })
</script>
</body>
</html>